.contact
    .container
        .contact__column
            .contact__column-left
                .column-left__title GIVE US A GOOD NEWS
                input.column-left__input(type="text" placeholder="Name")
                input.column-left__input(type="email" placeholder="Email")
                input.column-left__input(type="text" placeholder="Subject")
                input.column-left__input.contact__message(type="text" placeholder="Your Massage")
                button.column-left__button SUBMIT
            .contact__column-right
                .column-right__title OUR HAPPY CLIENT
                .column-right__all-logo
                    a(href="https://www.zara.com/by/ru/" title="Zara" target="_blank" ).column-right__logo.column-right__zara
                    a(href="https://shop.mango.com/by" title="Mango" target="_blank" ).column-right__logo.column-right__mango
                    a(href="https://www.saksfifthavenue.com/Entry.jsp?site_refer=barneys" title="Barneys NewYork" target="_blank" ).column-right__logo.column-right__newyork
                    a(href="https://www.gucci.com/int/en/" title="Gucci" target="_blank" ).column-right__logo.column-right__gucci
                    a(href="https://www.calvinklein.us/en" title="Calvin Klein" target="_blank" ).column-right__logo.column-right__calvinklein
                    a(href="https://www.nike.com/" title="Nike" target="_blank" ).column-right__logo.column-right__nike
                    a(href="https://www.converse.com/country-language-selector" title="Converse" target="_blank" ).column-right__logo.column-right__converse
                    a(href="https://ru.puma.com/" title="Puma" target="_blank" ).column-right__logo.column-right__puma
                    a(href="https://www.levi.com/US/en_US/" title="Levis" target="_blank" ).column-right__logo.column-right__levis
                    a(href="https://www.billabong.com/" title="Billa Bong" target="_blank" ).column-right__logo.column-right__bong