.contact
    .container
        .contact__column
            .contact__column-left
                .column-left__title GIVE US A GOOD NEWS
                input.column-left__input(type="text" placeholder="Name")
                input.column-left__input(type="email" placeholder="Email")
                input.column-left__input(type="text" placeholder="Subject")
                input.column-left__input.contact__message(type="text" placeholder="Your Massage")
                button.column-left__button SUBMIT
            .contact__column-right
                .column-right__title OUR HAPPY CLIENT
                .column-right__all-logo
                    .column-right__logo.column-right__zara
                    .column-right__logo.column-right__mango
                    .column-right__logo.column-right__newyork
                    .column-right__logo.column-right__gucci
                    .column-right__logo.column-right__calvinklein
                    .column-right__logo.column-right__nike
                    .column-right__logo.column-right__converse
                    .column-right__logo.column-right__puma
                    .column-right__logo.column-right__levis
                    .column-right__logo.column-right__bong