.expertise
    .container
        .expertise__content
            .expertise__title EXPERTISE
            .expertise__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
            .expertise__line
        .expertise__item
            .expertise__top-left.expertise__column
                .expertise-item__pictures.expertise-item__icon1
                .expertise-item__title WEB DESIGN & DEVELOPMENT
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise__top-center.expertise__column
                .expertise-item__pictures.expertise-item__icon2
                .expertise-item__title BRANDING IDENTITY
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise__top-right.expertise__column
                .expertise-item__pictures.expertise-item__icon3
                .expertise-item__title MOBILE APP
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise__bottom-left.expertise__column
                .expertise-item__pictures.expertise-item__icon4
                .expertise-item__title SEARCH ENGINE OPTIMIZATION
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise__bottom-center.expertise__column
                .expertise-item__pictures.expertise-item__icon5
                .expertise-item__title GAME DEVELOPMENT
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise__bottom-right.expertise__column
                .expertise-item__pictures.expertise-item__icon6
                .expertise-item__title MADE WITH LOVE
                .expertise-item__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
