.footer
    .container
        .footer__top-column
            .top-column__left
                .top-column__left-logo
                    .top-column__left-company
                    .top-column__left-name tajam
                .top-column__left-subtitle lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
            .top-column__center
                .top-column__center-title.footer__title OUR STUDIO
                .top-column__center-adress Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                .top-column__center-number (+62) 21-2224 3333
            .top-column__right
                .top-column__right-title.footer__title STAY IN TOUCH
                .top-column__right-window
                    input.top-column__right-input(type="text" placeholder="Subscribe our newsletter")
                    button.top-column__right-button ↵
                .top-column__right-network
                    a(href="https://www.facebook.com/" title="Facebook" target="_blank" ).top-column__right-facebook.footer__icon &#xf09a;
                    a(href="https://twitter.com/explore" title="Twitter" target="_blank").top-column__right-twitter.footer__icon &#xf099;
                    a(href="https://yandex.by/" title="Yandex" target="_blank").top-column__right-website.footer__icon &#xe841;
                    a(href="https://www.instagram.com/" title="Instagram" target="_blank").top-column__right-instagram.footer__icon &#xf32d;
                    a(href="https://www.google.com/" title="Google" target="_blank").top-column__right-google.footer__icon &#xf30f
                    a(href="https://www.youtube.com/" title="Youtube" target="_blank").top-column__right-youtube.footer__icon &#xf16a;
        .footer__bottom-column
            .bottom-column__left
                .bottom-column__left-support HELP
                .bottom-column__left-support TERMS & CONDITION 
                .bottom-column__left-support PRIVACY
            .bottom-column__right
                .bottom-column__right-discription Copyright © 2015 - Tajem Creative