.header
    .container
        .header__content
            .header__left
                .header__logo
                .header__name-logo tajam
            .header__right
                label.burger-icon(for="burger")
                input.menu-burger(id="burger" type="checkbox")
                .header__menu
                    .header__home.header__menu-discription HOME
                    .header__about.header__menu-discription ABOUT
                    .header__expertise.header__menu-discription EXPERTISE
                    .header__teams.header__menu-discription TEAMS
                    .header__works.header__menu-discription WORKS 
                    .header__people.header__menu-discription PEOPLE SAY
                    .header__contact.header__menu-discription CONTACT