.home
    .container
        .home__top
            .home__content
                .home__title  We Are Awesome Creative Agency
                .home__line
                .home__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                button.home__button LEARN MORE
            .home__content
                .home__title SDJn SAJDNJL SAKDnjk SDJLNjk
                .home__line
                .home__image-two-slide
                button.home__button LEARN MORE
            .home__content
                .home__title JKBHKJFDS SAHFjkn KLJHDFasd
                .home__line
                .home__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                button.home__button LEARN MORE
            .home__content
                .home__title ASFKLJKLJTG DFnkjDFS ASKLFNiy
                .home__line
                .home__image-four-slide
                button.home__button LEARN MORE
        .home__bottom
            .home__circle
            .home__circle
            .home__circle
            .home__circle
