.team
    .container
        .team__content
            .team__title MEET OUR AMAZING TEAM
            .team__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
            .team__line
        .team__all-people
            .people__semf-ucuk.team__people
                .team-people__foto.team-people__black
                .team-people__name SEMF UCUK
                .team-people__prof CEO & FOUNDER
            .people__dik-adalib.team__people
                .team-people__foto.team-people__women
                .team-people__name DIK ADALIN
                .team-people__prof ENGINEERING
            .people__jeng-kol.team__people
                .team-people__foto.team-people__t-shirt
                .team-people__name JENG KOL
                .team-people__prof DESIGNER
            .people__pet-romak.team__people
                .team-people__foto.team-people__women-glass
                .team-people__name PET ROMAK
                .team-people__prof MARKETING
        .team__bottom
            .team__discription Become part of our dream team, let’s join us ! 
            button.team__button WE ARE HIRING