.testimonial
    .container
        .testimonial__content
            .testimonial__title “
            .testimonial__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
        .testimonial__carousel
            .testimonial__left-arrow left
            .testimonial__gallery
                ul.testimonial__all-people
                    li.testimonial__people.foto1
                    li.testimonial__people.foto2
                    li.testimonial__people.foto3
                    li.testimonial__people.foto4
                    li.testimonial__people.foto5
            .testimonial__right-arrow right