.testimonial
    .container
        .testimonial__content
            .testimonial__title “
            .testimonial__subtitle This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
        .testimonial__bottom
            button.testimonial__left-arrow ⋘
            .testimonial__carousel
                .testimonial__all-people
                    .testimonial__people
                        .testimonial__people-name JANE GALADRIEL
                        .testimonial__people-prof CEO TENGKUREP
                        .testimonial__people-foto.foto1
                    .testimonial__people
                        .testimonial__people-name SADAS ASDASSD
                        .testimonial__people-prof SAD ASDASDSDS
                        .testimonial__people-foto.foto2
                    .testimonial__people
                        .testimonial__people-name ZXCC ZXCSAVCX
                        .testimonial__people-prof ZXCW TBVXZZXC
                        .testimonial__people-foto.foto3
                    .testimonial__people
                        .testimonial__people-name QWEQE WERQWE
                        .testimonial__people-prof WEQQW TWEQWQWE
                        .testimonial__people-foto.foto4
                    .testimonial__people
                        .testimonial__people-name JHKHAS UIOUIO
                        .testimonial__people-prof MBNMHJ GHJGH 
                        .testimonial__people-foto.foto5
            button.testimonial__right-arrow ⋙