.works
    .container
        .works__content
            .works__title OUR WORKS
            .works__subtitle See All Project in dribbble >
    .works__all-pictures
        .works__pictures.works__bottles
        .works__pictures.works__card
        .works__pictures.works__book
        .works__pictures.works__tea
        .works__pictures.works__book
        .works__pictures.works__tea
        .works__pictures.works__book
        .works__pictures.works__bottles
        .works__pictures.works__card
        .works__pictures.works__book
        .works__pictures.works__tea
        .works__pictures.works__bottles
    button.works__button LOAD MORE